---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Mateusz Antkiewicz</p>
</footer>
<style>
	p {
		margin: 0;
	}
	footer {
		margin-top: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		background: linear-gradient(var(--background-gradient)) no-repeat;
		text-align: center;
	}
</style>
