---
const today = new Date();
---

<div class="above-footer">
	<a href="javascript:void(0);" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">&#8593; Back To Top &#8593;</a>
</div>
<style>
	.above-footer {
		margin: 0;
        margin-bottom: -1em;
		padding: 0;
		padding-top: 1em;
		text-align: center;
	}
</style>
